controller:
  image:
    repository: "jenkins-plugins"  # Image name
    tag: "latest"                 # Image tag
    pullPolicy: IfNotPresent      # Use local image
    
  serviceType: NodePort
  
  # Match docker-compose privileges
  runAsUser: 0
  runAsGroup: 0
  
   # Add plugins
  #additionalPlugins:
  #  - git:latest
  #  - workflow-aggregator:latest
  #  - docker-workflow:latest
  #  - junit:latest

  volumes:
    - type: hostPath
      hostPath: /var/run/docker.sock
      mountPath: /var/run/docker.sock
  
  # Environment variables from docker-compose
  javaOpts: "-Djenkins.install.runSetupWizard=false"

persistence:
  enabled: true
  size: 10Gi

agent:
  enabled: true
  
serviceAccount:
  create: true